.add-product {
  margin-right: 20px;
}

.btn-plus {
  width: 46px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgba(95, 116, 141, 0.5);
  margin-bottom: 10px;
}
.card-body {
  overflow-y: auto;
}
.all-product {
  width: 100%;
  display: flex;
  gap: 10px;
}

.select-product {
  width: 100%;
}

.select-quantity {
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
}

.btn-remove {
  border-radius: 3px;
  border: solid 1px #5f748d;
  background-color: #fff;
  width: 80px;
}

.err-text {
  color: red;
  margin-left: 3px;
  margin-bottom: 5px;
  font-size: 14px;
}

.total-price {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}
.title_detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.choose_medicine {
  width: 450px;
  font-size: 16px;
  font-weight: 500;
}
.choose_medicine_category {
  width: 640px;
  font-size: 16px;
  font-weight: 500;
}
.input_sale {
  width: 195px;
  font-size: 16px;
  font-weight: 500;
}
.input_sale_category {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
}
.price_sale {
  font-size: 16px;
  font-weight: 500;
  width: 195px;
}

.percentage-input {
  display: flex;
  align-items: center;
  position: relative;
}

.input-field {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
}

.percentage-symbol {
  margin-left: 5px;
  position: absolute;
  right: 20px;
}
